<!-- 
<div >
	<div >
		<div >
		//Tab Page starts here
	
		//Tab Page ends here
			<div class="inline listViewLayout" ng-include
				src="'bijit/listWidget/template/listLayout.html'"
				ng-controller="listController"></div>
			<div class="inline detailsLayout" ng-include
				src="'bijit/detailsWidget/template/detailsLayout.html'"
				ng-controller="detailsController"></div>
		</div>
	</div>

</div>
 -->

<div class="container">
  <div class="jumbotron">
    <h1 >This Page is Responsive</h1>
    <p  >Resize this responsive page to see the effect!</p> 
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p  >HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the basics of HTML, so that you can create your own web pages or website</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the basics of HTML, so that you can create your own web pages or website</p>
      <p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the basics of HTML, so that you can create your own web pages or website</p>
      <p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>
    </div>
  </div>
</div>